<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <!-- Contract tests against a LIVE gateway (scripts/check.sh - -integration):
             docker-compose postgres/redis of ../gateway must be up, migrations applied. -->
        <testsuite name="integration">
            <directory>tests/Integration</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="PUSHCENTER_CONTRACT_DIR" value="../contract"/>
        <env name="PUSHCENTER_GATEWAY_DIR" value="../gateway"/>
        <env name="PUSHCENTER_TEST_DB_DSN" value="pgsql:host=127.0.0.1;port=55432;dbname=pushcenter_test"/>
        <env name="PUSHCENTER_TEST_DB_USER" value="pushcenter"/>
        <env name="PUSHCENTER_TEST_DB_PASSWORD" value="pushcenter"/>
        <env name="PUSHCENTER_TEST_REDIS_HOST" value="127.0.0.1"/>
        <env name="PUSHCENTER_TEST_REDIS_PORT" value="56379"/>
        <env name="PUSHCENTER_TEST_REDIS_DB" value="5"/>
    </php>
</phpunit>
